{
    "presets": [
      [
        "@babel/preset-react"
      ],
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "corejs": "3.22",
          "targets": {
            "browsers": [
              "last 2 versions",
              "not dead",
              "not <2%",
              "last 4 Edge versions"
            ],
            "esmodules": false
          }
        }
      ]
    ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-proposal-export-default-from"
  ]
}
